{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "prettier"
  ],
  "rules": {
    "semi": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "no-trailing-spaces": [
      "error",
      {
        "ignoreComments": true
      }
    ]
  }
}